@font-face {
  font-family: font;
  src: url("../fonts/font.woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: font !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ok:before {
  content: "\E94C";
}
.icon-close:before {
  content: "\E973";
}
.icon-add:before {
  content: "\E901";
}
.icon-play-mini:before {
  content: "\E95A";
}
.icon-playlist:before {
  content: "\E972";
}
.icon-music:before {
  content: "\E960";
}
.icon-search:before {
  content: "\E96C";
}
.icon-clear:before {
  content: "\E974";
}
.icon-delete:before {
  content: "\E967";
}
.icon-favorite:before {
  content: "\E917";
}
.icon-not-favorite:before {
  content: "\E916";
}
.icon-pause:before {
  content: "\E980";
}
.icon-play:before {
  content: "\E981";
}
.icon-prev:before {
  content: "\E982";
}
.icon-loop:before {
  content: "\E983";
}
.icon-sequence:before {
  content: "\E984";
}
.icon-random:before {
  content: "\E985";
}
.icon-back:before {
  content: "\E966";
}
.icon-mine:before {
  content: "\E97E";
}
.icon-next:before {
  content: "\E986";
}
.icon-dismiss:before {
  content: "\E975";
}
.icon-pause-mini:before {
  content: "\E97F";
}
.icon-setting:before {
  content: "\E941";
}
.icon-fm:before {
  content: "\E903";
}
.icon-recommend:before {
  content: "\E965";
}
.icon-list:before {
  content: "\E92C";
}
.icon-rank:before {
  content: "\E97C";
}
.icon-arrow-bottom:before {
  content: "\E945";
}
.icon-current-play:before {
  content: "\E907";
}
